<html>
    <body>
        <h2>Product</h2>
        <form method="post" action="/addprocess">
            Name:<input type="text" name="txt1">
           Price:<input type="number" name="txt2">
           <input type="submit" name="submit">

        </form>
    </body>
</html>