<html>
    <body>
        <h2>Login</h2>
        <form method="post" action="loginprocess">
            Email:<input type="email" name="txt1" required><br><br>
            Password:<input type="password" name="txt2" required><br><br>
            <input type="submit" name="submit">
            <a href="/signup">Signup</a>
        </form>
    </body>
</html>